numpy==1.23.5
opencv-python-headless==4.11.0.86
scipy==1.15.3
diffusers==0.38.0
transformers==4.51.3
huggingface-hub==0.36.0
tokenizers==0.21.4
accelerate==1.14.0
tqdm==4.66.5
pyarrow==16.1.0
imageio==2.37.4
imageio-ffmpeg==0.6.0
easydict==1.13
ftfy==6.3.1
dashscope==1.24.6
h5py==3.14.0
tyro==0.9.35
omegaconf==2.3.0
einops==0.8.2
lightning==2.6.5
deepspeed==0.19.4
nvtx==0.2.12
pyzmq==27.1.0
sentencepiece==0.2.1
safetensors==0.8.0
