image = "@SQSH@"

mounts = [
  "/capstor/store/cscs/swissai/aa004/users/zjingchen/terry_nys:/capstor/store/cscs/swissai/aa004/users/zjingchen/terry_nys",
  "/capstor/scratch/cscs/zjingchen/terry_nys:/capstor/scratch/cscs/zjingchen/terry_nys",
  "/iopsstor/scratch/cscs/zjingchen/terry_nys:/iopsstor/scratch/cscs/zjingchen/terry_nys"
]

workdir = "/capstor/store/cscs/swissai/aa004/users/zjingchen/terry_nys/src/xwam-robocasa365"

writable = true
entrypoint = false

[env]
PYTHONUNBUFFERED = "1"
TOKENIZERS_PARALLELISM = "false"
PYTHONPATH = "/capstor/store/cscs/swissai/aa004/users/zjingchen/terry_nys/src/xwam-robocasa365"
HF_HOME = "/iopsstor/scratch/cscs/zjingchen/terry_nys/cache/huggingface"
HF_HUB_OFFLINE = "1"
TRANSFORMERS_OFFLINE = "1"
TORCH_EXTENSIONS_DIR = "/iopsstor/scratch/cscs/zjingchen/terry_nys/cache/torch_extensions"
XDG_CACHE_HOME = "/iopsstor/scratch/cscs/zjingchen/terry_nys/cache"
